.app.dark {
    --bg-color: #070745;
    --inverted-bg-color: #e0e2ee;
    --primary-color: #0a8612;
    --secondary-color: #4ae159;
    --inverted-primary-color: #0515bb;
    --inverted-secondary-color: #4488ef;
}
