.app.light {
  --bg-color: #e0e2ee;
  --inverted-bg-color: #070745;

  --primary-color: #0515bb;
  --secondary-color: #4488ef;

  --inverted-primary-color: #0a8612;
  --inverted-secondary-color: #4ae159;
}